<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>
        #image {
            max-width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <img id="image" src="{{ url }}" alt="{{ name }}">
    <script>
        var img = document.getElementById('image');
        img.onload = function() {
            if (this.naturalWidth < window.innerWidth && this.naturalHeight < window.innerHeight) {
                this.style.width = this.naturalWidth + 'px';
            }
        };
        window.onresize = img.onload;
    </script>
</body>
</html>