{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ name }}
{% endblock %}

{% block mainbody %}
    <style>
        .container {
            width: 60%;
            margin: auto;
            padding: 50px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            text-align: center;
            transform-origin: top center;
        }

    </style>
    <div class="container">
        <h3>{{ name }}</h3>
        <embed src="{{ url }}" type="application/pdf" width=800 height=800>
    </div>

{% endblock %}