{% extends "base.html" %}
{% load static %}

{% block title %}
    文件暂不支持预览
{% endblock %}

{% block mainbody %}
    <style>
        .container {
            width: 60%;
            margin: auto;
            padding: 50px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            text-align: center;
            transform-origin: top center;
        }

    </style>
    <div class="container">
        <div >
            <h2>文件暂不支持预览</h2>
            <h3>请下载后查看</h3>
        </div>
    </div>

{% endblock %}