{% extends "base.html" %}
{% load static %}

{% block title %}
分享链接失效
{% endblock %}


{% block mainbody %}
    <style>
        .container {
            width: 60%;
            margin: auto;
            padding: 50px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
            text-align: center;
            transform-origin: top center;
        }
        .button {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            color: #fff;
            background-color: #007BFF;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
    <div class="container">
        <div >
            <h2>分享链接失效</h2>
            <a href="/" class="button">返回首页</a>
        </div>
    </div>
{% endblock %}
