{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ name }}
{% endblock %}

{% block mainbody %}
    <style>
        .container {
            margin: auto;
            padding: 50px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            transform-origin: top center;
        }
    </style>
    <div class="container">
        <div id="mse"></div>
        <script src="//unpkg.byted-static.com/xgplayer/2.31.2/browser/index.js" type="text/javascript"></script>
    </div>
    <script>
        let player = new Player({
            id: 'mse',
            url: '{{ url }}',
            poster: '{{ poster }}',
            videoInit: true,
            playbackRate: [0.5, 0.75, 1, 1.5, 2],
            width: window.innerWidth,
            height: window.innerHeight,
            lang: 'zh-cn',
            fluid: true,
        });
    </script>
{% endblock %}
